<div class="container small under-title" id="call-to-action">
  <section class="call-to-action join-us">
    <h3>Join us</h3>
    <p>Sign up to participate</p>
    <a class="action-button" href="http://goo.gl/forms/kdPQYYDOwG" rel="noopener" target="_blank">Get ticket</a>
  </section>
  <section class="call-to-action learn-about-us">
    <h3>Learn more</h3>
    <p>Find out more information about our hackathon</p>
    <a class="action-button" href="#quick-intro">Find out more</a>
  </section>
</div>