<div class="container small under-title" id="call-to-action">
  <section class="call-to-action join-us">
    <h3>See the pictures</h3>
    <p>Take a look at our photo album!</p>
    <a class="action-button" href="https://photos.app.goo.gl/CWHx5vFOZZb183d52" rel="noopener" target="_blank">View now</a>
  </section>
  <section class="sponsors">
    <h3>Sponsors</h3>
    <div class="image-container">
      <p><a href="https://www.abercrow.com/" target="_blank"><img src="/img/abercrow-logo-1.png" alt="Abercrow"></a></p>
      <p><a href="https://www.podictive.com/" target="_blank"><img src="/img/Podictive-logo-2.png" alt="Podictive"></a></p>
    </div>
  </section>
  <section class="call-to-action learn-about-us">
    <h3>Learn more</h3>
    <p>Find out more information about the hackathon!</p>
    <a class="action-button" href="#quick-intro">Find out more</a>
  </section>
</div>
